/* this is goated https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
body {
    background-color: blanchedalmond;
    font-family: 'Outfit', sans-serif;
    font-size: 2em;
}

.whole{
    display: flex;
    flex-direction: column; /*puts the top and bottom vertically*/
    height: 100vh;
}

.top{ /*holds the pfp, name, and link to github*/
    display: flex;
    margin-top: 30vh; /*spaces it from the top to make it centered towards the top*/
    justify-content: center; /*center horizontally*/
    align-items: center; /*centers vertically, mostly for the name and link*/
    gap: 5vh;
}


.bottom{ /*holds all the projects*/
    display: flex;
    justify-content: center; /*center horizontally*/
    margin-top: 5vh; /*spaces from the top*/
    flex-wrap: wrap; /*if too many projects horizontally, then it wraps around*/
    gap: 15px; /*spaces between each project*/
}

.projects{ /*class for each project*/
    display: flex;
    width: 300px;
    height: 200px;
    background-color: lightblue;
    border-radius: 25px; /*curved corners*/
}

#top-desc{
    display: flex;
    flex-direction: column; /*name and link on top of each other*/
}

#pfp{
    border: 3px solid rgb(230, 70, 123);
    border-radius: 50%; /*circle border*/
}